<!-- ============================================================
     FOOTER WAVE
============================================================ -->
<div class="jt-footer-wave">
  <svg viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="
      M0,0
      C120,40 240,0 360,25
      C480,50 600,0 720,25
      C840,50 960,0 1080,25
      C1200,50 1320,10 1440,25
      L1440,60 L0,60 Z
    " fill="#6D1A36"/>
  </svg>
</div>

<!-- ============================================================
     FOOTER
============================================================ -->
<footer class="jt-footer">
  <div class="jt-footer-top">
    <div class="container">
      <div class="row g-4">

        <!-- Col 1: About -->
        <div class="col-lg-3 col-md-6">
          <span class="footer-logo">JamesThew</span>
          <p class="footer-tagline">Master Chef & Culinary Artist</p>
          <p class="footer-about-text">
            Bringing world-class recipes and culinary expertise to your kitchen. Join our
            community of food lovers and discover the art of fine cooking.
          </p>
          <div class="footer-socials">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
          </div>
        </div>

        <!-- Col 2: Quick Links -->
        <div class="col-lg-2 col-md-6">
          <h5 class="footer-heading">Quick Links</h5>
          <ul class="footer-links">
            <li><a href="index.html"><i class="fa fa-angle-right"></i> Home</a></li>
            <li><a href="about.html"><i class="fa fa-angle-right"></i> About James</a></li>
            <li><a href="recipes-list.html"><i class="fa fa-angle-right"></i> All Recipes</a></li>
            <li><a href="tips-list.html"><i class="fa fa-angle-right"></i> Cooking Tips</a></li>
            <li><a href="contests-list.html"><i class="fa fa-angle-right"></i> Contests</a></li>
            <li><a href="announcements.html"><i class="fa fa-angle-right"></i> Announcements</a></li>
            <li><a href="pricing.html"><i class="fa fa-angle-right"></i> Membership</a></li>
            <li><a href="faq.html"><i class="fa fa-angle-right"></i> FAQ</a></li>
          </ul>
        </div>

        <!-- Col 3: Categories -->
        <div class="col-lg-2 col-md-6">
          <h5 class="footer-heading">Categories</h5>
          <ul class="footer-links">
            <li><a href="#"><i class="fa fa-angle-right"></i> Vegetarian</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Non-Vegetarian</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Italian</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Juices & Drinks</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Desserts</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> Breakfast</a></li>
          </ul>
        </div>

        <!-- Col 4: Newsletter -->
        <div class="col-lg-3 col-md-6">
          <h5 class="footer-heading">Newsletter</h5>
          <p class="footer-newsletter-text">
            Subscribe to get the latest recipes, tips, and contest updates
            delivered straight to your inbox.
          </p>
          <div class="footer-newsletter-form">
            <input type="email" placeholder="Your email address"/>
            <button>Subscribe</button>
          </div>
          <div class="footer-membership-card">
            <div class="plan-label">
              <i class="fa fa-crown"></i> Premium Membership
            </div>
            <div class="plan-price">Monthly $10 &nbsp;|&nbsp; Yearly $100</div>
            <a href="pricing.html" class="plan-link">
              View Plans <i class="fa fa-arrow-right" style="font-size:0.65rem;"></i>
            </a>
          </div>
        </div>

        <!-- Col 5: Contact -->
        <div class="col-lg-2 col-md-6">
          <h5 class="footer-heading">Contact</h5>
          <div class="footer-contact-item">
            <i class="fa fa-location-dot"></i>
            <span>123 Chef Street,<br/>Culinary District, NY</span>
          </div>
          <div class="footer-contact-item">
            <i class="fa fa-phone"></i>
            <span>+1 (555) 123-4567</span>
          </div>
          <div class="footer-contact-item">
            <i class="fa fa-envelope"></i>
            <span>james@jamesthew.com</span>
          </div>
          <div class="footer-contact-item">
            <i class="fa fa-clock"></i>
            <span>Weekend Classes:<br/>Sat – Sun, 10AM–2PM</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Divider -->
  <hr class="footer-divider"/>

  <!-- Footer Bottom -->
  <div class="jt-footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <p class="footer-copy">
            &copy; 2026 <span>JamesThew.com</span>. All Rights Reserved. Crafted with
            <i class="fa fa-heart" style="color:#C0392B; font-size:0.7rem;"></i> by Your Team
          </p>
        </div>
        <div class="col-md-6">
          <div class="footer-bottom-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
            <a href="faq.html">FAQ</a>
            <a href="feedback.html">Feedback</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>